<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
  <h1>
    {{ title }} Portfolio
  </h1>
  <img alt="Dee" src="../assets\images\dee.jpg">
</div>

<div id="info">
  {{tagLine}}
  <br>
  {{city}}
</div>

<hr>

<app-greeting></app-greeting>

<br>

<div id="aboutMe">
  <h2>About Me</h2>
  {{aboutMe}}
</div>

<div id= "skills">
    <h2>Skills</h2>
    <app-skills></app-skills>
  </div>

<div id = "contacts">
    <h2>Contacts</h2>
  <app-contacts></app-contacts>
</div>

<div id="wrapper">
<app-contact-form></app-contact-form>
<app-phone-book></app-phone-book>
</div>

